@page "/account/reset-password/"
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<ResetPassword> _localizer

<EditForm Model="@_resetPasswordRequest" OnValidSubmit="SubmitAsync">
        <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudTooltip Text="Go Back">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"
                        Link="/" />
                </MudTooltip>
                <div class="d-flex justify-center">
                    <img src="full-stack-hero-logo.png" Style="height:120px" />
                </div>
                <div class="fsh-center-text">
                    <MudText Typo="Typo.h4" GutterBottom="true" style="margin-bottom:5px">@_localizer["Reset Password"]
                    </MudText>
                    <MudText>@_localizer["Enter your details below to reset password"]</MudText>
                </div>
                <br />
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <DataAnnotationsValidator />
                <CustomValidation @ref="_customValidation" />
                <MudItem xs="12">
                    <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined"
                    @bind-Value="Tenant" For="@(() => Tenant)" Required />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="@_localizer["E-mail"]" Variant="Variant.Outlined"
                        @bind-Value="_resetPasswordRequest.Email" For="@(() => _resetPasswordRequest.Email)"
                        InputType="InputType.Email" Adornment="Adornment.End" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Label="@_localizer["Password"]" Variant="Variant.Outlined"
                        @bind-Value="_resetPasswordRequest.Password" For="@(() => _resetPasswordRequest.Password)"
                        InputType="@_passwordInput" Adornment="Adornment.End"
                        AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Label="@_localizer["Confirm Password"]" Variant="Variant.Outlined"
                        @bind-Value="_resetPasswordRequest.ConfirmPassword" For="@(() => _resetPasswordRequest.ConfirmPassword)"
                        InputType="@_passwordInput" Adornment="Adornment.End"
                        AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Tenant" Variant="Variant.Outlined"
                    @bind-Value="_resetPasswordRequest.Token" For="@(() => _resetPasswordRequest.Token)"/>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.LockReset"
                ButtonType="ButtonType.Submit" Disabled="BusySubmitting" Class="ml-auto">
                @_localizer["Reset Password"]
            </MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>