@page "/Dashboard/EmployeeStats"
@attribute [MustHavePermission(FSHAction.View, FSHResource.AssetStats)]

@inject IStringLocalizer<AssetStats> L

<FshTitle Title="@L["Employee Statistics"]" Description="@L["Employee and OrgChart Statistics"]" />

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid>
        <MudItem xs="12"md="3">
            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Title" Color="Color.Secondary" Class="mx-4"
                             Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Titles"]</MudText>
                        <MudText @bind-Value="@TitleCount" Typo="Typo.h5">@TitleCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>

            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                </MudPaper>
            </MudItem>

            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Color="Color.Secondary" Class="mx-4"
                             Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["BusinessUnits"]</MudText>
                        <MudText @bind-Value="@BusinessUnitCount" Typo="Typo.h5">@BusinessUnitCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.SwitchAccount" Color="Color.Secondary" Class="mx-4"
                             Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Departments"]</MudText>
                        <MudText @bind-Value="@DepartmentCount" Typo="Typo.h5">@DepartmentCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Groups" Color="Color.Secondary" Class="mx-4"
                             Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["SubDepartments"]</MudText>
                        <MudText @bind-Value="@SubDepartmentCount" Typo="Typo.h5">@SubDepartmentCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Group" Color="Color.Secondary" Class="mx-4"
                             Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Teams"]</MudText>
                        <MudText @bind-Value="@TeamCount" Typo="Typo.h5">@TeamCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>

        </MudItem>
        <MudItem xs="12" md="9">
            <MudItem xs="12" md="6">
                <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                    <MudIcon Icon="@Icons.Material.Filled.Groups2" Color="Color.Primary" Class="mx-4"
                             Style="width:54px; height:54px;"></MudIcon>
                    <div>
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">@L["Employees"]</MudText>
                        <MudText Typo="Typo.h5">@EmployeeCount</MudText>
                    </div>
                </MudPaper>
            </MudItem>

            <MudItem xs="12" md="12">
                <MudPaper Elevation="25" Class="pa-4" Style="height:500px;">
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@_dataEnterBarChartSeries"
                              XAxisLabels="@_dataEnterBarChartXAxisLabels.Select(a => L[a].Value).ToArray()" Width="100%"
                              Height="400px"></MudChart>
                </MudPaper>
            </MudItem>
        </MudItem>
    </MudGrid>
}