@page "/elearning/quizs"
@attribute [MustHavePermission(FSHAction.View, FSHResource.Quizs)]

@inject IStringLocalizer<Quizs> L

<FshTitle Title="@L["Quizs"]" Description="@L["Manage Quizs."]" />

<EntityTable @ref="_table" TEntity="QuizDto" TId="Guid" TRequest="QuizViewModel" Context="@Context">
    <AdvancedSearchContent>

        <MudSelect Label="Select Type" @bind-Value="SearchQuizTypeId" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
            @foreach (QuizType item in Enum.GetValues(typeof(QuizType)))
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>

        <MudSelect Label="Select Topic" @bind-Value="SearchQuizTopicId" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
            @foreach (QuizTopic item in Enum.GetValues(typeof(QuizTopic)))
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>

        <MudSelect Label="Select Mode" @bind-Value="SearchQuizModeId" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
            @foreach (QuizMode item in Enum.GetValues(typeof(QuizMode)))
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>

    </AdvancedSearchContent>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" ReadOnly DisableUnderLine Label="@L[$"Quiz Id"]" />
            </MudItem>
            <MudItem xs="12" md="6"></MudItem>
        }
        <MudItem xs="12" md="3">
            <MudTextField Label="@L["Code"]" For="@(() => context.Code)" @bind-Value="context.Code" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField Label="@L["Name"]" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="@L["Description"]" For="@(() => context.Description)" @bind-Value="context.Description"/>
        </MudItem>

        <MudItem xs="12" md="3">
            <MudTextField Label="@L["Price"]" For="@(() => context.Price)" @bind-Value="context.Price" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField Label="@L["Sales"]" For="@(() => context.Sale)" @bind-Value="context.Sale" />
        </MudItem>

        <MudItem xs="12" md="3">
            <MudDatePicker Label="@L["Start Date"]" Editable="true" @bind-Date="context.StartTime" DateFormat="dd.MM.yyyy" DisableToolbar="true" Variant="Variant.Outlined" />
        </MudItem>

        <MudItem xs="12" md="3">
            <MudTimePicker Label="@L["Start Time"]" Editable="true" @bind-Time="StartTimeSpan" DisableToolbar="true" Variant="Variant.Outlined" />
        </MudItem>

        <MudItem xs="12" md="3">
            <MudTextField Label="@L["Rating"]" For="@(() => context.Rating)" @bind-Value="context.Rating" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField Label="@L["Rating Counts"]" For="@(() => context.RatingCount)" @bind-Value="context.RatingCount" />
        </MudItem>

        <MudItem xs="12" md="3">
            <MudDatePicker Label="@L["End Date"]" Editable="true" @bind-Date="context.EndTime" DateFormat="dd.MM.yyyy" DisableToolbar="true" Variant="Variant.Outlined" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudTimePicker Label="@L["End Time"]" Editable="true" @bind-Time="EndTimeSpan" DisableToolbar="true" Variant="Variant.Outlined" />
        </MudItem>

        <MudItem xs="12" md="6">
            <MudTextField Label="@L["QuizPath"]" For="@(() => context.QuizPath)" @bind-Value="context.QuizPath" Disabled />
         </MudItem>

         <MudItem xs="12" md="6">
         </MudItem>

        <MudItem xs="12" md="3">
            <MudCheckBox @bind-Checked="context.IsActive" For="@(() => context.IsActive)" Label="@L["Active"]"></MudCheckBox>
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSelect Label="Select Topic" @bind-Value="context.QuizTopic" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
                @foreach (QuizTopic item in Enum.GetValues(typeof(QuizTopic)))
                {
                    <MudSelectItem Value="@item">@item</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSelect Label="Select Mode" @bind-Value="context.QuizMode" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
                @foreach (QuizMode item in Enum.GetValues(typeof(QuizMode)))
                {
                    <MudSelectItem Value="@item">@item</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSelect Label="Select Type" @bind-Value="context.QuizType" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Filled">
                @foreach (QuizType item in Enum.GetValues(typeof(QuizType)))
                {
                    <MudSelectItem Value="@item">@item</MudSelectItem>
                }
            </MudSelect>
        </MudItem>

        <MudItem xs="12" md="6">
            <div>
                <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                           StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput">
                           @L["Upload"]
                </MudButton>
                @if (!Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.QuizPath) && string.IsNullOrEmpty(context.QuizInBytes))
                {
@*                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                           StartIcon="@Icons.Material.Filled.RemoveRedEye"
                               Href="@(Config[ConfigNames.ApiBaseUrl] + @context.QuizPath + @"/index.html")" Style="margin-left: 5px;">
                        @L["View"]
                    </MudButton>*@
                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Target="_blank"
                               StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;"
                               Href=@QuizUrl>
                        @L["Take a Quiz"]
                    </MudButton>

                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;"
                               OnClick="SetDeleteCurrentQuizFlag">
                        @L["Delete Media"]
                    </MudButton>
                }
                @if (!string.IsNullOrEmpty(context.QuizInBytes))
                {
                    <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                               StartIcon="@Icons.Material.Filled.Clear" Style="margin-left: 5px;"
                               OnClick="ClearQuizInBytes">
                        @L["Clear Media"]
                    </MudButton>
                }
            </div>
        </MudItem>

        <MudItem xs="12" md="6">
        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
        @if (UploadFile != null && !string.IsNullOrEmpty(context.QuizInBytes))
        {
        <MudText>
        <MudIcon Icon="@Icons.Material.Filled.AttachFile" Class="mr-3 mb-n1" />
        @UploadFile.Name   (<code>@UploadFile.Size bytes)</code>
        </MudText>
        }
        </MudItem>
    </EditFormContent>
</EntityTable>